<h2>Edit Comment:</h2>
<%= form_with model: @comment do |form| %>
  <p>
    <%= form.label :User_Id %><br>
    <%= form.text_field :user_id %>
  </p>
  <p>
    <%= form.label :Comment %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

